@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Bienvenido</h1>
    <p class="lead">Aqui podra ver sus notas y modificar su informacion</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Ver Notas</h2>
        <p>
            Ver resultados del examen teorico, practico y medico.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Ir &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>Permite la modificacion de datos como su telefono o correo personal.</p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>